@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0 !important;
  box-sizing: border-box;
}
/* General css */
body{
  font-family: 'Poppins', sans-serif;
}


/* Nav bar Start */
nav{
  margin-top: 43px;
}
nav ul li{
  margin-left: 50px;
}
nav ul li a{
  font-weight: 500 !important;
font-size: 18px !important;
color: #05060A;
}
/* Nav bar End */



























































































































